<h1>Aarting Invitations</h1>
<p>Welcome to Aarting Invitations</p>

<%= link_to t('.new event', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-large btn-primary' %>

