<h1>Event Invitations</h1>
<p>Welcome to Event Invitations</p>

<%= link_to t('.new event', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-large btn-primary' %>

