<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have been invited to a special event!</h1>
    <p>
      <strong><%= @event.title %></strong> will take place on <%= @event.date %> at <%= @event.location %>.<br/>
    </p>
    <p>
      Here is more info about the event:
    </p>
    <p>
      <i><%= @event.description %></i>
    </p>  
    <p>We hope you enjoy the event!</p>
    <p> ~The aarting team </p>
  </body>
</html>